version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: sb_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: smartbooking
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: sb_backend
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgres://admin:admin@postgres:5432/smartbooking
    depends_on:
      - postgres
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: sb_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app

volumes:
  pgdata: